html {
  font-size: 15px;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

i {
  font-size: 80px;
  cursor: pointer;
}

#paireT {
  font-size: 5rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  background: rgb(28,75,255);
  background: linear-gradient(135deg, rgba(28,75,255,1) 0%, rgba(58,244,255,1) 100%);
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 25%;
  background-color: rgba(255, 255, 255, 0);
}
